<md-sidenav
    class="md-sidenav-left"
    md-component-id="lanaguage-manager-left"
    md-is-locked-open="true"
    md-whiteframe="4">

    <md-content>

        <div
            style="height: 100px;"
            flex
            layout="column" 
            ng-if="uploadFileIsTrue">
            <lf-ng-md-file-input
                lf-files="files">
            </lf-ng-md-file-input>
            <div>
                <md-button class="md-raised md-primary"
                           ng-click="uploadLang(files)">
                    Load
                </md-button>
                <md-button ng-click="close()">
                    close
                </md-button>
            </div>
        </div>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <label flex translate>Languages</label>
                <md-button
                    ng-click="uploadLang()"
                    class="md-icon-button" 
                    aria-label="Upload a language">
                    <wb-icon>upload</wb-icon>
                </md-button>
                <md-button
                    ng-click="addLanguage()"
                    class="md-icon-button" 
                    aria-label="Add new language">
                    <wb-icon>add</wb-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div>
            <md-list>
                <md-list-item 
                    ng-repeat="lang in app.config.languages" 
                    ng-click="selectLanguage(lang)">
                    <p>{{ lang.title}}</p>

                    <wb-icon 
                        ng-click="saveAs(lang)" 
                        aria-label="Save language as a file" 
                        class="md-secondary md-hue-3">download</wb-icon>
                    <wb-icon 
                        ng-click="deleteLanguage(lang)" 
                        aria-label="Delete language" 
                        class="md-secondary md-hue-3">delete</wb-icon>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</md-sidenav>

<md-content
    flex>
    <div
        ng-if="!selectedLanguage"
        layout-padding>
        Select a language to view/edit translations.
    </div>

    <div
        ng-if="selectedLanguage"
        layout="row">
        <md-input-container 
            md-no-float 
            class="md-block">
            <label translate>Key</label>
            <input 
                ng-model="selectedLanguage.key" 
                type="text">
        </md-input-container>

        <md-input-container 
            md-no-float 
            class="md-block">
            <label translate>Title</label>
            <input 
                ng-model="selectedLanguage.title" 
                type="text">
        </md-input-container>
    </div>

    <div layout="column" layout-margin>
        <md-input-container class="md-block" flex
                            ng-repeat="(key, value) in selectedLanguage.map">
            <label>{{key}}</label>
            <input ng-model="selectedLanguage.map[key]" 
                   type="text">
        </md-input-container>
    </div>
</md-content>